# Ignorar entorno virtual
venv/
.venv/
env/
ENV/
.env/

# Ignorar archivos compilados de PySide6
ui_compiled/*.py

# Ignorar archivos temporales
__pycache__/
*.log

# Ignorar archivos de configuración
.env
